$black: #21252b;
$blackBody: #282c34;
$greyFont: #ccccc1;
$blackPop: #2f333d;

.message-container {
  display: flex;
  justify-content: flex-start;
  // min-height: 50px;
  margin: 10px 15px;
  // $message-triangle-offset: -7px;

  animation: 0.65s ease-out 0s show;

  .avatar {
    order: 1;
    margin-top: 30px;
  }
  .time {
    font-size: 0.8em;
    margin-left: 10px;
    margin-top: 30px;
    order: 3;
    // margin: 0;
    // font-style: italic;
    opacity: 0.6;
    float: left;
    // position: absolute;
  }
  .user-name {
    font-size: 1.5em;
    // margin-top: 5px;
    text-align: right;
    float: left;
    margin-bottom: 10px;
  }
  .data {
    order: 2;
    height: 100%;
    margin-left: 25px;
  }
  .name {
    // margin: 0;
    float: left;
  }
  .message {
    max-width: 500px;
    overflow-wrap: break-word;
    opacity: 0.8;
    // background: $received-message-bg-color;
    // border-radius: 5px;
    // border-top-left-radius: 0;
    // box-sizing: border-box;
    // // color: $received-message-color;
    // height: 100%;
    // padding: 10px 15px;
    // position: relative;
  }
  .lonely-message {
    margin-top: -22px;
    margin-bottom: -20px;
    opacity: 0.8;
    margin-left: 64px;
    max-width: 500px;
    overflow-wrap: break-word;
  }

  @keyframes show {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .message::before {
    // $triangle-color: $received-message-bg-color;

    // border-bottom-color: transparent;
    // border-left-color: transparent;
    // border-right-color: $triangle-color;
    // border-style: solid;
    // border-top-color: $triangle-color;
    // border-width: 4px;

    // content: "";

    // height: 0;
    // left: $message-triangle-offset;
    // position: absolute;
    // top: 0;
    // width: 0;
  }

  &.right {
    text-align: right;
    justify-content: flex-end;
    .avatar {
      order: 2;
      margin-left: 25px;
      margin-top: 30px;
    }
    .time {
      font-size: 0.8em;
      margin-right: 10px;
      margin-top: 30px;
      opacity: 0.6;
      float: right;
    }
    .data {
      margin-left: 25px;
      order: 1;
      height: 100%;
    }
    .name {
      // display: none;
      float: right;
    }
    .user-name {
      font-size: 1.5em;
      // margin-top: 5px;
      text-align: left;
      float: right;
      margin-bottom: 10px;
    }
    .name {
      // margin: 0;
    }
    .message {
      opacity: 0.8;
      // margin-right: -20px;
      // float: right;
      // background: $sent-message-bg-color;
      // color: $sent-message-color;
      // border-top-right-radius: 0;
      // border-top-left-radius: 5px;
    }
    .lonely-message {
      margin-top: -22px;
      margin-bottom: -20px;
      opacity: 0.8;
      margin-right: 64px;
    }
    .message::before {
      // $triangle-color: $sent-message-bg-color;

      // border-top-color: $triangle-color;
      // border-left-color: $triangle-color;
      // border-right-color: transparent;
      // left: auto;
      // right: $message-triangle-offset;
    }
  }
}

.thread-container {
  display: grid;
  flex-grow: 1;
  // @include customscrollbar();
  // overflow-y: scroll;
  overflow: hidden;
  position: relative;
  // background-color: #89a1fc;
  background-color: $blackBody;
  // margin-top: -50px;

  .thread {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    // color: $received-message-color;
    // background: $messages-bg;
  }
}

.typing-user {
  text-align: right;
  margin: 10px 15px;
}
