@import "../../styles/globals.scss";
@import "../../normalize.css";

.app-bar {
  // background-color: $blackBody !important;
  // color: $greyFont !important;
  display: flex;
  height: 100%;
  // width: 100%;
  // justify-content: center;
  .chat-name {
    order: 2;
  }
  .menu-icon {
    order: 1;
    // margin-right: auto;
  }
  .group-icon {
    order: 4;
    float: right;
    // margin-left: 20px;
    margin-left: auto;
  }
}
