@import "../../styles/globals.scss";

.users-side-bar {
  height: 100%;
  // background-color: $black;
  // color: $greyFont;
  .grey {
    // color: $greyFont !important;
  }
  .no-users-message {
    // color: $greyFont !important;
    font-size: 1.3rem !important;
    text-align: center;
  }
  .user-list-header {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
    // background-color: $blackBody !important;
    // color: $greyFont !important;
    text-align: center;
  }
  .side-bar-option-users {
    margin-left: 20px !important;
    margin-right: 20px !important;
    margin-top: 20px !important;
    // display: none;
  }
}
