$primary-color: #3e3e5e;
$primary-color-dark: #2e2e4f;
$primary-color-light: #5d5d8a;
$primary-color-active: #363656;
$sent-message-bg-color: #89a1fc;
$secondary-color: #484d79;
$main-text-color: #cac8ee;
$messages-bg: #dcddf5;
$received-message-bg-color: #fff;
$sent-message-color: #fff;
$received-message-color: #b3b2ca;
$success-color: #60d66a;
$main-padding-vertical: 18px;
$main-padding-horizontal: 16px;
$main-padding: $main-padding-vertical $main-padding-horizontal;
$error-text: #c92c43;
$head-max-height: 65px;
$footer-max-height: 65px;
$footer-height: 10vh;

$black: #21252b;
$blackBody: #282c34;
$greyFont: #ccccc1;
$blackPop: #2f333d;

$white: #fcfcfc;
$whiteBody: #ffffff;
$blackFont: #282c34;
$whitePop: #fafafa;

$red: #d50000;
$orange: #ff6d00;
$lime: #aeea00;
$green: #00c853;
$teal: #00bfa5;
$blue: #2962ff;
$purple: #aa00ff;
