$deep-orange: #dd2c00;
$orange: #ff6d00;
$amber: #ffab00;
$yellow: #ffd600;
$lime: #aeea00;
$light-green: #64dd17;
$green: #00c853;
$teal: #00bfa5;
$cyan: #00b8d4;
$light-blue: #0091ea;
$blue: #2962ff;
$indigo: #304ffe;
$deep-purple: #6200ea;
$purple: #aa00ff;
$pink: #c51162;
